.screen-header {
  display: flex;
  justify-content: space-between;
  /* 아이콘 세로기준 가운대정렬 */
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  padding-left: 20px;
}
